<div class="title-bar">
    {{today}}
</div>

{{#unless hasGoals}}

    <div class="goal-section none">
        <div class="title">
            You don't have any goals yet
            {{#link-to "new" class="nav-forward"}}New{{/link-to}}
        </div>
    </div>

{{else}}

    {{#if hasDailyGoals}}
        <div class="goal-section day">
            <div class="title">
                Today's Goals
                {{#link-to "new" class="nav-forward"}}New{{/link-to}}
            </div>

            {{#each goal in todaysGoals}}
                {{render "goal" goal}}
            {{/each}}
        </div>
    {{/if}}

    {{#if hasWeeklyGoals}}
        <div class="goal-section week">
            <div class="title">
                This Week's Goals
                {{#link-to "new" class="nav-forward"}}New{{/link-to}}
            </div>

            {{#each goal in thisWeeksGoals}}
                {{render "goal" goal}}
            {{/each}}
        </div>
    {{/if}}

    {{#if hasMonthlyGoals}}
        <div class="goal-section month">
            <div class="title">
                This Month's Goals
                {{#link-to "new" class="nav-forward"}}New{{/link-to}}
            </div>

            {{#each goal in thisMonthsGoals}}
                {{render "goal" goal}}
            {{/each}}
        </div>
    {{/if}}

{{/unless}}
