<div class="title-bar">
    {{#link-to "index" class="nav-back"}}Cancel{{/link-to}}
    <span>New Goal</span>
    <a class="nav-forward" {{action save}}>Save</a>
</div>

<div class="form-group">
    {{input value=goalName placeholder="Goal Name" class="form-control"}}
    {{view Ember.Select
            content=frequencyOptions
            value=goalFrequency
            class="form-control"}}

    {{#if daysPerPeriodSelection}}
        <div class="form-group">
            <label class="col-sm-2 control-label">How many times per {{periodType}}</label>
            <div class="col-sm-10">
                {{input value=daysPerPeriod placeholder="1" class="form-control"}}
            </div>
        </div>
    {{/if}}
</div>
